body {
    background: white;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
}

form {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50vw;
}

table, th, td {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50vw;
}
