{% extends 'base.html' %}

{% block head %}
    <title>Tashan's Password Manager</title>
{% endblock %}

{% block body %}
<div>
    <h1>Tashan's Password Manager</h1>

        <!-- Form for new passwords -->
        <form action="/manager" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="url" id="url" placeholder="URL">
            <input type="password" name="password" id="password" placeholder="Password"> 
            <input type="submit" value="Save password">
        </form>
        <br>
        <!-- Table for stored passwords -->
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        {% for password in passwords %}
            <tr>
                <td>{{ password.username }}</td>
                <td>{{ password.password }}</td>
                <td></td>
                <td>
                    <a href="/delete/{{password.id}}">Delete</a>
                    <br>
                    <a href="/update/{{password.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </table>

        <br>
        <button><a href="/">Generate password</a></button>
</div>
{% endblock %}